{% extends 'cial/Base.html' %}

{% load staticfiles %}

{% block title %}HTPA - {{ activity.title }}{% endblock %}


{% block content %}

  <div class="task">

    <header>
      <h1>Equipos <small>KOMATZU</small></h1> 
    </header>

    <div class="page-header">
      
      </div>
      <button type="button" class="btn btn-lg btn-primary">RetroExcadora </button>
      
      <button type="button" class="btn btn-lg btn-primary">Excavadora Hidraulica</button>
    </div>

{% endblock %}


{% block javascripts %}

  

{% endblock javascripts %}


{% block stylesheets %}

  

{% endblock stylesheets %}